@{
    Layout = null;
    var mensajeBienvenida = ViewData["WelcomeMessage"];
    //Validar null
    if (mensajeBienvenida == null)
    {
        mensajeBienvenida = "Bienvenido ";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Semana02_UESAN_FirstMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container col-md-3" style="margin-top: 10%;">
        <h3>@mensajeBienvenida</h3>
        <form method="post" action="@Url.Action("Validate","Security")">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="text" name="correo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="clave" class="form-control" id="exampleInputPassword1">
            </div>
         @*   <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>*@
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
    </div>  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>   
</body>
</html>

